<table>
<tr>
    <td><a asp-page="Index">Inicio</a></td>
    <td><a asp-page="Atendimentos">Atendimentos</a></td>
    <td><a asp-page="Categorias">Categorias</a></td>
    <td><a asp-page="Garcons">Garcons</a></td>
    <td><a asp-page="Mesas">Mesas</a></td>
    <td><a asp-page="Produtos">Produtos</a></td>
<tr>
<table>