@page
@model Atividade01.RazorPages.Pages.Mesas.Index
@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Numero Mesa</th>
                <th>Ocupada<th>
            </tr>
        </thead>
    </table>
</div>