@page
@model Atividade01.RazorPages.Pages.Produtos.Index
@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Preco</th>
            </tr>
        </thead>
    </table>
</div>